body{
  width: 50vw;
  height: 47vw;
  background-color: rgb(0,191,255);
}

/* .topboarder{
  position: absolute;
  width: 50vw;

} */




.container{
  /* background-color: gray; */
  width: 91.4vw;
  height: 35.74vw;
  position: absolute;
  left: 3.7vw;
  top: 8vw;
  grid-template-columns: 5vw 5vw 5vw;
}

.team1{
  font-family: Avenir;
  color: white;
  font-size: 4vw;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 2vw;
  left: 35vw;
  width: 30vw;
}

.grid {
  display: grid;
  grid-gap: 1px;
  justify-content: center;
  outline-color: gray;


  grid-template-columns: 50px [main-start] repeat(21, 50px) [main-end] 50px;

  grid-template-rows: 50px [main-start] repeat(9, 50px) [main-end] 50px;
}

  [class^="item"] {
    background-color: white;
    outline-color: black;
}

}

  .item1 {
    background-color: red;
    grid-area: main;

}

/* .timer {
  color: #333;
  text-align: center;
} */

/* TIMER */
.timer{
  font-family: Avenir;
  color: white;
  font-size: 2vw;
  position: absolute;
  list-style-type: none;
  text-align: right;
  padding: 1px;
  top: 2vw;
  left: 71vw;
  width: 24vw;
}



/* FINISH BOX */
.results{
  display: none;
  background-color: white;
  width: 25vw;
  height: 18vw;
  position: absolute;
  left: 38vw;
  top: 13vw;
  grid-template-columns: 5vw 5vw 5vw;
}

.bluefinish{
  font-family: Avenir;
  font-size: 3vw;
  font-weight: bold;
  color: rgb(0,191,255);
  position: relative;
  text-align: right;
  top: 5vw;
  left: -32vw;
  width: 50vw;
}

.pinkfinish{
  font-family: Avenir;
  font-size: 3vw;
  font-weight: bold;
  color: pink;
  position: relative;
  text-align: right;
  top: 6vw;
  left: -32vw;
  width: 50vw;
}

.whitefinish{
  font-family: Avenir;
  font-size: 3vw;
  font-weight: bold;
  color: black;
  position: relative;
  text-align: right;
  top: 7vw;
  left: -32vw;
  width: 50vw;

}

/* li {
  display: inline-block;
  font-family: Avenir;
  color: white;
  font-size: 2vw;
  position: absolute;
  list-style-type: none;
  padding: 1px;
  top: 2vw;
  left: 92vw;
  width: 3vw;
} */


/* li span {
  display: block;
  font-size: 2vw;
} */
